@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Mission 5";
}

@*preferred name*@
<h1>Bella Andrews</h1>
<img src="img/CCA79D0E-993F-4F70-ACA6-CCBE477D12F5.jpg" width="350" height="400" /> <!--exploring-->
@*what i hope to learn*@
<p>
    I hope to learn a lot from this class. I love learning new programming languages and this class had taught me a lot already.
    I want to learn how to be proficient in C# and hope to be able to use my new skills in my future career. I
    love the opportunities to learn new things this major has presented me with thus far and hope to learn
    new skills all throughout my life.
</p>
@*top career choices right now*@
<ul>
    <li>Web Developer</li>
    <li>Database Admin</li>
    <li>Information Security Analyst</li>
</ul>

